<a href="https://colab.research.google.com/github/rch16/FYP/blob/master/MachineLearning/text_recognition_experimentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Â imports
import csv
import pandas as pd
from skimage import io

### Upload Dataset
Each row in the csv file is a new image

In [16]:
# longest row is 191520
path = "/content/label_dataset.csv"
data = pd.read_csv(path,header=None,sep='\n')
#data = data[0].str.split(',', expand=True)                 
                   #sep=',',header=None,nrows=249,engine='python')
data.head()

                                                   0
0  188,190,190,191,195,200,198,193,191,190,191,19...
1  253,254,251,251,252,247,237,194,126,78,78,79,7...
2  162,162,162,162,162,162,163,163,162,162,162,16...
3  254,254,253,253,255,255,254,255,253,255,253,25...
4  255,255,255,255,255,255,255,255,255,255,255,25...